h1{
    color: blue;
    background-color: antiquewhite;
    border-radius: 10px;
}

body{
    background-color: black;
    color: aliceblue;
}

button{
    background-color: green;
}

.box{
    height: 100px;
    width: 100px;
    border: 2px solid green;
    margin: 5px;
    text-align: center;
    background-color: chocolate;

}